@import "~bootstrap/scss/bootstrap.scss";

/* 
    body{
        background: #BDBDBD;
    }
    
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: green;
}

.card {
  width: 400px;
  height: 600px;
  margin: 130px auto 0 auto;
}

.top {
  text-align: left;
  height: 25%;
}

.middle {
  text-align: center;
  height: 50%;
}

.bottom {
  text-align: right;
  height: 25%;
}
